# Kick OAuth - https://kick.com/settings/developer
KICK_CLIENT_ID=ide_ird_a_client_id-t
KICK_CLIENT_SECRET=ide_ird_a_client_secret-t
KICK_REDIRECT_URI=http://localhost:3000/auth/kick/callback

# Session titkos kulcs (változtasd meg hosszú véletlenszerű stringre!)
SESSION_SECRET=valami_titkos_kulcs_csere_le

# Port
PORT=3000
